#topBar {
	width: 100%;
	height: 70px;
	box-shadow: $backend-shadow;
	background: #FFF;
	z-index: 100;
	position: fixed;

	a {
		img {
			width: auto;
			height: 30px;
			margin-top: 20px;
			margin-left: 40px;
			cursor: pointer;
		}
	}

	p {
		float: right;
		color: $text-color;
		line-height: 70px;
		margin-right: 20px;
	}

	.logout {
		float: right;
		background: $primary-moron;
		color: #FFF;
		border-radius: 3px;
		@include rgba-shadow(0 3px 12px, $primary-moron, 0.5);
		border: 1px solid darken($primary-moron, 10%);
		margin-right: 40px;
		height: 50px; 
		margin-top: 10px;
		text-decoration: none;
		transition: all 0.2s ease-in;
		line-height: 50px;
    	width: 100px;
    	text-align: center;

		&:hover {
			background: lighten($primary-moron, 5%);
			@include rgba-shadow(0 3px 20px, $primary-moron, 0.8);
			cursor: pointer;
		}
	}
}