.about-header{
    margin-bottom:200px;

    .col-lg-4{
        margin-top:80px!important;

        img{
            padding-top:70px;
            padding-bottom:70px;
        }
    }

    h1{
        color:#3ECF8E;
        margin-bottom:20px;
    }
}