#cases{
    position:relative;
    height:1340px;
    background: $graytone-background;
    transform:skewY(-9deg);
    transform-origin:0;
    margin-top:270px;
    padding-top:120px;
    text-align:center;

    @media only screen and (max-width:1200px){

        height:1930px;

    }

    @media only screen and (max-width:750px){

        height:auto;
        padding-bottom:320px;

    }

    .container{
      transform:skewY(9deg);

    .pulseWrap{
        float:none;
        margin:0 auto;

        i{
          position:absolute;
          font-size:34px;
          left:17.5px;
          top:18px;
        }
    }

      h2{
        margin-bottom:30px;
        margin-top:30px;
      }

      p{
        color:$gray-font;
        padding-left:145px;
        padding-right:145px;
        margin-bottom:100px;

        @media only screen and (max-width:750px){

            padding-left:5px;
            padding-right:5px;

        }

      }
      .row{

        .col-lg-6{

          .case-card{
            position:relative;
            width:567px;
            height:259px;
            background: #fff;
            margin-bottom:25px;
            box-shadow: $standard-shadow;
            overflow:hidden;
            transition: all 0.2s ease-in;
            backface-visibility: hidden;

            @media only screen and (max-width:1200px){

                margin-left:auto;
                margin-right:auto;

            }

            @media only screen and (max-width:620px){

                width:100%;

            }

            &:hover{
                transform: translateY(-1px);
                box-shadow:$hover-shadow;
            }

            .card-circle-outer{
              position:absolute;
              left:-80px;
                height: 280px;
                width: 270px;
                top: -10px;
              @include rgba-bg($primary-orange, 0.1);
              border-radius:50%;
            }

            .card-circle-inner{
              position:absolute;
              top: 60px;
              left:-27px;
              height:145px;
              width:145px;
              background: lighten($primary-orange, 20%);
              border-radius:50%;

              i{
                font-size: 60px;
                margin-top:42px;
              }
            }

            .card-content-right{
              position:absolute;
              right:0;
              text-align:left;
              width:430px;
              padding-top:50px;

              @media only screen and (max-width:620px){

                  width:320px;
                  padding-top:35px;

              }

              @media only screen and (max-width:515px){

                width:65%;

              }

              h3{
                color: $text-color;
                font-weight:300;
                font-size:27px;
                border-left: 3px solid $text-color;
                padding-left:15px;
              }

              p{
                padding-left:5px;
                padding-right:5px;
                margin-bottom:0;
                font-size:14px;
              }

              button{
                font-size:14px;
                border-radius:5px;
                height:40px;
                padding-top:0px;
                box-shadow: $standard-shadow;
                margin-top:25px;
              }

            }
          }
        }
      }
    }
}
