/* Pulse */

.pulseWrap {

    position: relative;
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 25px;
    margin-right: 10px;

    .pulseDot {
        position: absolute;
        display: inline-block;
        z-index: 1;
        width: 50px;
        height: 50px;
        background-color: $primary-orange;
        border-radius: 50%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    .pulser {
        position: absolute;
        width:50px;
        height:50px;
        background-color: $primary-moron;
        border-radius: 50%;
        transform: scale(0.1);
        transform-origin: center center;
        animation: pulse 4s ease-out infinite;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    @keyframes pulse {
        0% {
            opacity: .7;
            transform: scale(0.1)
        }

        80% {
            opacity: 0
        }

        100% {
            transform: scale(2);
            opacity: 0
        }
    }

}
