#intro {
	margin-top: 280px;
	margin-top: 80px;
	width: 100%;
	position: relative;
	
	@media only screen and (max-width:517px){

		margin-top:170px;

	}

	.container {
		.row {
			.col-md-6 {

				.pulseWrap{

					@media only screen and (max-width:517px){

						float:none;
						margin-left:auto;
						margin-right:auto;
						margin-bottom:20px;

					}
				}

				h2 {
					margin-bottom: 30px;
					float: right;
					margin-right: 40px;
					text-align:right;

					@media only screen and (max-width:517px){

						text-align:center;

					}

				}

				p {
					padding-bottom: 30px;
					margin-bottom: 30px;
					color: $text-color;
					border-bottom: 2px solid $border-color;
					text-align:right;

					@media only screen and (max-width:517px){

						text-align:center;

					}

				}

				a {
					float: right;
					margin-right: 20px;
					color: #6772E5;
					transition: all 0.2s ease-in;
					font-weight: 500;
					font-size: 17px;

					@media only screen and (max-width:517px){

						float:none;
						display:block;
						text-align:center;

					}

					&:hover {
						text-decoration: none;
						color: #32325d;
					}

					&::after {
						content: 'keyboard_arrow_right';
						font-family: 'Material Icons';
					    font-weight: normal;
					    font-style: normal;
					    font-size: 24px;
					    line-height: 1;
					    letter-spacing: normal;
					    text-transform: none;
					    display: inline-block;
					    white-space: nowrap;
					    word-wrap: normal;
					    direction: ltr;
					    -webkit-font-feature-settings: 'liga';
					    -webkit-font-smoothing: antialiased;
					    padding-top: 2px;
    					position: absolute;
					}

				}

			}
			.device {
				position: absolute;
				right: -20px;
				top: -50px;
				width: 712px;
    			height: 552px;
				z-index: 50;

    			@media only screen and (max-width: 1400px) {
				  right: -100px;
				}

				@media only screen and (max-width: 1200px) {
				  right: -300px;
				}

				@media only screen and (max-width: 991px) {
				  position: static;
				  margin-top: 40px;
				}

				@media only screen and (max-width:517px){

					display:none;

				}

				img {
					width: 680px;
					height: 510px;
				}

			}
		}
	}
}
