#intro {
	margin-top: 280px;
	width: 100%;
	position: relative;

	.container {
		.row {
			.col-md-6 {

				h2 {
					margin-bottom: 30px;
				}

				p {
					padding-bottom: 30px;
					margin-bottom: 30px;
					color: $text-color;
					border-bottom: 2px solid $border-color;
				}

				a {
					float: right;
					margin-right: 20px;

					&:hover {
						text-decoration: none;
					}

					&::after {
						content: 'keyboard_arrow_right';
						font-family: 'Material Icons';
					    font-weight: normal;
					    font-style: normal;
					    font-size: 24px;
					    line-height: 1;
					    letter-spacing: normal;
					    text-transform: none;
					    display: inline-block;
					    white-space: nowrap;
					    word-wrap: normal;
					    direction: ltr;
					    -webkit-font-feature-settings: 'liga';
					    -webkit-font-smoothing: antialiased;
					    padding-top: 2px;
    					position: absolute;
					}

				}

			}
			.device {
				position: absolute;
				right: -20px;
				top: -50px;
				width: 712px;
    		height: 552px;
				z-index: 50;

    			@media only screen and (max-width: 1400px) {
				  right: -100px;
				}

				@media only screen and (max-width: 1200px) {
				  right: -300px;
				}

				@media only screen and (max-width: 991px) {
				  position: static;
				  margin-top: 40px;
				}

				img {
					width: 680px;
					height: 510px;
				}

			}
		}
	}
}
