#newsGrid {
    
    width: 100%;
    margin: 0 auto;
    margin-top: 180px;
    position: relative;
    z-index: 10;

        @media only screen and (max-width:517px){

            margin-top:30px;

        }
    
    .row {
        margin-bottom: 70px;
        .col-md-7 {
            h1 {
                color: #FFF;
            }
            p {
                color: #FFF;
            }
        }
    }
    
    .col {
    
        float: left;
        width: 33.33%;
        height: auto;

    }

    .box {

        width: 95%;
        margin-right: 5%;
        height: auto;
        background: #FFF;
        float: left;
        margin-bottom: 20px;
        border-radius: 3px;
        box-shadow: $standard-shadow;
        overflow: hidden;
        transition: 0.5s all;

    }

    .box img {

        float: left;
        width: 100%;
        background-size: cover;
        height: auto;
        border-radius: 3px 3px 0px 0px;
        transition: 0.5s all;

    }

    .box p {

        float: left;
        width: 100%;
        padding: 10px;
        color: $text-color;
        line-height: 22px;
        transition: 0.2s all;
        -webkit-transition: 0.2s all;
        -moz-transition: 0.2s all;
        -o-transition: 0.2s all;
         text-overflow:ellipsis;
        word-wrap: break-word;

    }

    .box:hover {
 
        cursor: pointer;
        box-shadow: $hover-shadow;
        transform: translateY(-2px);

    }
}

@media screen and (max-width : 809px) {
    
    #newsGrid {
           
         width: 100%;   
           
    }
    
    .col-1 {
        
        float: left;
        width: 100% !important;
        
    }
    
    .box {
           
        width: 100% !important;  
        margin-right: 0% !important;
        border-radius: 0px;
        border: 0px !important;
        left: 0% !important;
        top: 0% !important;
           
    }
    
    .col-2{
        
        display: none;   
        
    }
    
    .col-3 {
        
        display: none;   
        
    }
    
}

@media screen and (min-width: 810px) and (max-width: 1200px) {

    #newsGrid {
        
        width: 100%;   
        
    }
    
    .col-1 {
        
        width: 50% !important;   
        
    }
    
    .col-2 {
        
        width: 50% !important;   
        
    }
    
    .col-1 {
        
        display: block;   
        
    }
    
    .col-2 {
        
        display: block;   
        
    }
    
    .col-3 {
        
        display: none;   
        
    }
    
}

@media screen and (min-width: 1201px) {
    
    #newsGrid {
           
         width: 1200px;   
           
    }
    
    .col-1 {
        
        display: block;   
        
    }
    
    .col-2
    {
        
        display: block;  
        /*transform: translateY(50px);*/
        
    }
    
    .col-3 {
        
        display: block;   
        
    }
    
}