#tour{
    position:relative;
    margin-top: -300px;
    width:100%;
    height:840px;
    background:linear-gradient(150deg, $primary-moron 25%, $primary-orange 94%);
    overflow: hidden;
    
    .container {
        
        .row {
            
            .device {
                
                position: absolute;
                left: -60px;
				top: 100px;
				width: 812px;   
                height: 652px;
				z-index: 50;
                z-index: 9999;
                
                .imgWrapper {
                
                    img {
                        position: absolute;
                        width: 740px;
                        height: 590px;
                        top: 30px;
                        left: 30px;
                        opacity: 0;
                    }
                    
                }
                
                @media only screen and (max-width: 1600px) {
				  left: -140px;
				}
                
                @media only screen and (max-width: 1450px) {
				  display: none;
				}
                
            }
            
            .col-md-6 {
                
                @media only screen and (max-width: 1450px) {
				    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
				}
                
                .featureWrapper {
                    
                    width: 100%;
                    height: 652px;
                    margin-top: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    position: relative;
                    z-index: 400;
                    
                    @media only screen and (max-width: 1450px) {
                      width: 600px;
                    }
                    
                    @media only screen and (max-width: 700px) {
                      width: 500px;
                    }
                    
                    @media only screen and (max-width: 500px) {
                      width: 100%;
                    }

                    h3 {
                        color: #FFF;
                        position: absolute;
                        top: 20px;
                    }
                    
                    @keyframes sendToBack {
                        0% {
                            
                        }

                        50% {
                            transform:translateX(-120%);                           
                            
                        }
                        
                        51% {
                            z-index: 0;
                        }

                        100% {
                            transform:translateX(0px);                               
                        }
                    }
                    
                    .sendToBack {
                        animation: sendToBack 1s ease-in;
                    }
                    
                    .feature {
                        background: #FFF;
                        border-radius: 3px;
                        width: 100%;
                        height: 450px;
                        padding: 20px 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        position: absolute;
                        top: 100px;
                        opacity: 0.6;
                        transition: all 0.5s ease-in;

                        i {
    
                            color: $primary-green;
                            font-size: 72px;

                        }
                        
                        h2 {
                            margin-bottom: 20px;
                        }
                        
                        p {
                            color: $text-color;
                            text-align: center;
                        }
                        
                    }
                    
                    .cardActive {
                        opacity: 1;
                        z-index: 999;
                        transform: scale(1);
                    }

                    .dotWrapper {
                        width: auto;
                        height: auto;
                        position: absolute;
                        bottom: 30px;

                        .dot {
                            width: 10px;
                            height: 10px;
                            border-radius: 5px;
                            background: #FFF;
                            opacity: 0.6;
                            float: left;
                            margin: 2.5px;
                            transition: all 0.2s ease-in;
                        }

                        .dotActive {
                            opacity: 1;
                        }

                    }
                    
                }
                
            }

            .arrowRight {

                font-size: 72px;
                position: absolute;
                right: 100px;
                top: 50%;
                transform: translateY(50%);
                margin-top: -72px;
                cursor: pointer;
                transition: all 0.1s ease-in;
                text-shadow: $standard-shadow;

                &:hover {
                    opacity: 0.8;
                    text-shadow: $hover-shadow;
                }
                
                @media only screen and (max-width: 1600px) {
				  right: 50px;
				}
                
                @media only screen and (max-width: 900px) {
                  display: none;
                }

            }
            
        }
        
    }
    
}
