/*

	Imports

 */
@import 'variables/all';
@import 'partials/all';
@import 'pages/all';


p, a, h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat", sans-serif;
}
p{
  font-size:17px;
}
h1, h2, h3, h4, h5, h6{
  font-weight:600;/*Medium*/
}
.btn{
  font-size:20px;
  border:none;
  box-shadow:$standard-shadow;
}
.btn-success{
  background-color:$primary-green;
}
